.ready {
    color: #0CC;
    margin: 8px 0 8px 0;
}

.orders {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 230px;
}

.cooking {
   margin: 8px 0 8px 0;
}

.title {
    margin: 0 0 24px 0;
}